<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>

    <link rel="icon" href="https://emojis.slackmojis.com/emojis/images/1620064224/35256/owo_cute.png?1620064224" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    
    <style>
        
    </style>
</head>
<body>

<div id="app">
    <div class="container my-5">
        <div class="row" v-show="!cards.list.hidden">
            <div class="col-12 my-4">
                <h1>歡迎回來</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2" v-for="card in cards.list.data">
                <div class="card" @click.prevent="getCard(card.Guid)">
                    <div class="card-body" type="button">
                        <h3 class="d-flex justify-content-between">
                            {{card.Name}}
                            <span>
                                <button type="button" class="btn btn-sm btn-outline-danger me-2" @click.prevent.stop="deleteCard(card.Guid)">刪除</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">編輯</button>
                            </span>
                        </h3>
                        <table class="table table-borderless table-sm">
                            <tbody>
                            <tr>
                                <td>TOTAL</td>
                                <td>${{card.Total}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <div class="input-group input-group-lg" @keydown.enter="addCard">
                                <input type="text" class="form-control" v-model="cards.add.name">
                            </div>
                        </h3>
                        <p class="mb-0 mt-3 fw-light text-muted">按下Enter來建立卡片</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-show="!cards.item.hidden">
            <div class="col-12 mb-3">
                <h1><i class="bi bi-chevron-left" type="button" @click.prevent="backToHome"></i></h1>
            </div>
            <div class="col-12">
                <h1>{{cards.item.card.Name}}</h1>
            </div>
            <div class="col-12">
                <table class="table table-borderless table-hover align-middle">
                    <thead>
                    <tr>
                        <th scope="col">明細</th>
                        <th scope="col">日期</th>
                        <th scope="col">金額</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in cards.item.details">
                        <td>{{item.Name}}</td>
                        <td>{{formatDate(item.Date)}}</td>
                        <td>${{item.Count}}</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-sm btn-outline-danger">刪除</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">編輯</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <table class="table table-borderless align-middle">
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">明細</span>
                                <input type="text" class="form-control" placeholder="請輸入明細內容" v-model="cards.item.add.name">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">日期</span>
                                <input type="date" class="form-control" v-model="cards.item.add.day">
                                <span class="input-group-text">時間</span>
                                <input type="time" class="form-control" v-model="cards.item.add.time">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">金額</span>
                                <input type="text" class="form-control" placeholder="請輸入半形數字" v-model="cards.item.add.count">
                                <span class="input-group-text">元</span>
                            </div>
                        </td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-primary" @click.prevent="addDetail(); getDetails(cards.item.card.Guid);">新增</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="mb-0 fw-light text-muted">明細內容不可留空</p>
                        </td>
                        <td>
                            <p class="mb-0 fw-light text-muted">消費時間請利用上下方向鍵及數字鍵控制</p>
                        </td>
                        <td>
                            <p class="mb-0 fw-light text-muted">消費金額不得為0或負數或包含小數點</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    const app = Vue.createApp({
        data(){
            return{
                cards:{
                    list:{
                        data:{},
                        hidden: false,
                    },
                    item:{
                        data:{},
                        card:{},
                        hidden: true,
                        add:{
                            cardGuid: '',
                            name: '',
                            day: new Date().toJSON().substring(0,10),
                            time: '00:00',
                            count: 0,
                            date: ''
                        }
                    },
                    add:{
                        name: ''
                    }
                }
            }
        },
        methods:{
            getCards: function () {
                let vm = this;
                
                axios({
                    method: 'get',
                    url: './api/card/list'
                }).then(res => {
                    vm.cards.list.data = res.data;
                }).catch(err => {
                    console.log(err);
                })
            },
            getCard: function (guid) {
                let vm = this;

                axios({
                    method: 'get',
                    url: `./api/card/${guid}`
                }).then(res => {
                    vm.cards.list.hidden = true;
                    vm.cards.item.hidden = false;
                    vm.cards.item.card = res.data;

                    vm.getDetails(vm.cards.item.card.Guid);
                }).catch(err => {
                    console.log(err);
                })
            },
            addCard: function () {
                let vm = this;
                
                if (vm.cards.add.name === '' || vm.cards.add.name.trim() === ''){
                    Swal.fire({
                        icon: 'error',
                        text: '卡片名稱不能留白',
                        showConfirmButton: false,
                        timer: 2000,
                    })
                    return;
                }

                let duplicate = false;
                Array.from(vm.cards.list.data).forEach((item, index, arr) => {
                    if (item.Name == vm.cards.add.name) {
                        duplicate = true;
                        arr.splice(index, arr.length - index);
                        return;
                    }
                })
                
                if (duplicate){
                    Swal.fire({
                        icon: 'error',
                        text: '卡片名稱已存在',
                        showConfirmButton: false,
                        timer: 2000,
                    })
                    
                    vm.cards.add.name = '';
                    return;
                }
                           
                axios({
                    method: 'post',
                    url: `./api/card`,
                    data: vm.cards.add
                }).then(res => {
                    vm.cards.list.data = res.data;
                    vm.cards.add.name = '';
                }).catch(err => {
                    console.log(err);
                })
            },
            deleteCard: function (guid) {
                let vm = this;
                
                axios({
                    method: 'Delete',
                    url: `./api/card/${guid}`
                }).then(res => {
                    vm.cards.list.data = res.data;
                }).catch(err => {
                    console.log(err);
                })
            },
            getDetails: function (guid) {
                let vm = this;

                axios({
                    method: 'get',
                    url: `./api/detail/list/${guid}`
                }).then(res => {
                    vm.cards.item.details = res.data.Details;
                    console.log(res.data);
                    vm.cards.item.add.cardGuid = res.data.CardGuid;
                }).catch(err => {
                    console.log(err);
                })
            },
            addDetail: function () {
                let vm = this;

                if (vm.cards.item.add.name === '' || vm.cards.item.add.time.trim() === ''){
                    Swal.fire({
                        icon: 'error',
                        text: '明細內容不得留空',
                        showConfirmButton: false,
                        timer: 2000,
                    })
                    return;
                }
                
                if (vm.cards.item.add.count <= 0){
                    Swal.fire({
                        icon: 'error',
                        text: '明細金額不得小於等於0',
                        showConfirmButton: false,
                        timer: 2000,
                    })
                    return;
                }
                
                vm.cards.item.add.date = `${vm.cards.item.add.day} ${vm.cards.item.add.time}`;
                
                axios({
                    method: 'post',
                    url: `./api/detail/item`,
                    data: vm.cards.item.add
                }).then(res => {
                    vm.cards.item.data = res.data;
                }).catch(err => {
                    console.log(err);
                }).then(() => {
                    vm.cards.item.add.name = '';
                    vm.cards.item.add.day = new Date().toJSON().substring(0,10);
                    vm.cards.item.add.time = '00:00';
                    vm.cards.item.add.count = 0;
                    vm.cards.item.add.date = '';
                })
            },
            backToHome: function () {
                let vm = this;

                vm.cards.list.hidden = false;
                vm.cards.item.hidden = true;

                vm.cards.item.add.name = '';
                vm.cards.item.add.day = new Date().toJSON().substring(0,10);
                vm.cards.item.add.time = '00:00';
                vm.cards.item.add.count = 0;
                vm.cards.item.add.date = '';
            },
            formatDate: function (date) {
                return `${date.split('T')[0]} ${date.split('T')[1].split('+')[0]}`
            },
        },
        watch: {
            
        },
        mounted: function () {
            this.getCards();
        }
    });
    app.mount('#app')
</script>

</body>
</html>