<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>

    <link rel="icon" href="https://emojis.slackmojis.com/emojis/images/1620064224/35256/owo_cute.png?1620064224" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="node_modules/loaders.css/loaders.css"/>

    <link rel="stylesheet" href="all.css">
    
    <style>
    </style>
</head>
<body>

<div id="app">
    <div class="loader-inner ball-scale-multiple display-none">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="container my-5">
        <!--輸入帳號-->
        <div class="row" v-show="!user.session.get">
            <div class="col-12 my-4">
                <h1>你好，這裡是記帳卡片。</h1>
            </div>
            <div class="col-md-4 col-12 mt-2">
                <div class="card">
                    <div class="card-body" v-if="user.session.news == null && !user.session.news">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" v-model="user.info.id">
                        </div>
                        <div class="mb-0 fw-bold text-danger">
                            <p class="mb-0 mt-3 fw-light text-muted" v-show="!user.info.error">請輸入ID登入，或是留空點擊下一步註冊</p>
                            <p class="mb-0 mt-3 fw-light text-danger" v-show="user.info.error">ID不存在，請留空註冊一組新的ID</p>
                        </div>
                        <h5><button class="btn badge badge-topic btn-sm float-end" @click.prevent="checkUser">下一步</button></h5>
                    </div>
                    <div class="card-body" v-if="user.session.news">
                        <div>
                            <p class="mb-0 fw-bold text-danger">你的ID是：{{user.info.id}}</p>
                            <p class="mb-0 fw-light text-muted">請記住這個ID，遺失無法補發</p>
                        </div>
                        <h5><button class="btn badge badge-topic btn-sm float-end" @click.prevent="getCards">下一步</button></h5>
                    </div>
                </div>
            </div>
        </div>
        
        <!--首頁：卡片清單-->
        <div class="row" v-show="!cards.list.hidden">
            <div class="col-12 my-4 d-flex align-items-end">
                <h1 class="mb-0">歡迎回來</h1>
                <h3 class="mb-0">
                    <button type="button" class="mb-1 ms-3 btn badge badge-blue" @click="getId">查詢我的ID</button>
                </h3>
                <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body">
                            複製成功
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2" v-for="card in cards.list.data">
                <div class="card" @click.prevent="getCard(card.Id)">
                    <div class="card-body" type="button">
                        <h3 class="d-flex justify-content-between">
                            <span>
                                {{card.Name}}
                            </span>
                            <span>
                                <small><button type="button" class="btn btn-sm badge badge-red me-2" @click.prevent.stop="deleteCard(card.Id)" :disabled="cards.is.deleting || cards.is.updating">刪除</button></small>
                                <small><button type="button" class="btn btn-sm badge badge-topic" data-bs-toggle="modal" data-bs-target="#cardEditModal" @click.prevent.stop="setCardEditPage(card)" :disabled="cards.is.updating || cards.is.deleting">編輯</button></small>
                            </span>
                        </h3>
                        <table class="table table-borderless table-sm">
                            <tbody>
                            <tr>
                                <td>TOTAL</td>
                                <td>${{card.Total}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-2">
                <div class="card">
                    <div class="card-body">
                        <h3>
                            <div class="input-group input-group-lg" @keydown.enter="addCard">
                                <input type="text" class="form-control" v-model="cards.list.add.name" :disabled="cards.is.adding">
                            </div>
                        </h3>
                        <p class="mb-0 mt-3 fw-light text-muted">按下Enter來建立卡片</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!--卡片：明細清單-->
        <div class="row" v-show="!cards.item.hidden">
            <div class="col-12 mb-3">
                <h1><i class="bi bi-chevron-left" type="button" @click.prevent="backToHome"></i></h1>
            </div>
            <div class="col-12">
                <h1>{{cards.item.card.Name}}</h1>
            </div>
            <div class="col-12 mt-2">
                <table class="table table-borderless table-hover table-lg align-middle">
                    <thead>
                    <tr>
                        <th scope="col">明細</th>
                        <th scope="col">日期</th>
                        <th scope="col">金額</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in cards.item.details">
                        <td>{{item.Name}}</td>
                        <td>{{formatDate(item.CreateTime)}}</td>
                        <td>${{item.Count}}</td>
                        <td class="d-flex justify-content-evenly">
                            <h5 class="mb-0"><button type="button" class="btn btn-sm badge badge-red" @click.prevent="deleteDetail(item)" :disabled="cards.item.editing">刪除</button></h5>
                            <h5 class="mb-0"><button type="button" class="btn btn-sm badge badge-topic" data-bs-toggle="modal" data-bs-target="#detailEditModal" @click="setDetailEditPage(item)" :disabled="cards.item.editing">編輯</button></h5>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="col-12">
                <table class="table table-borderless align-middle">
                    <tbody>
                    <tr>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">明細</span>
                                <input type="text" class="form-control" placeholder="請輸入明細內容" v-model="cards.item.add.name" :disabled="cards.item.adding">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">日期</span>
                                <input type="date" class="form-control" v-model="cards.item.add.day" :disabled="cards.item.adding">
                                <span class="input-group-text">時間</span>
                                <input type="time" class="form-control" v-model="cards.item.add.time" :disabled="cards.item.adding">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text">金額</span>
                                <input type="text" class="form-control" placeholder="請輸入半形數字" v-model="cards.item.add.count" :disabled="cards.item.adding">
                                <span class="input-group-text">元</span>
                            </div>
                        </td>
                        <td class="d-flex justify-content-evenly">
                            <h3 class="mb-0"><button type="button" class="btn badge badge-blue" @click.prevent="addDetail" :disabled="cards.item.adding || cards.item.editing">新增</button></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="mb-0 fw-light text-muted">明細內容不可留空</p>
                        </td>
                        <td>
                            <p class="mb-0 fw-light text-muted">消費時間請利用上下方向鍵及數字鍵控制</p>
                        </td>
                        <td>
                            <p class="mb-0 fw-light text-muted">消費金額不得為0或負數或包含小數點</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!--卡片：編輯-->
        <div class="modal fade" data-bs-backdrop="static" id="cardEditModal" tabindex="-1" aria-labelledby="cardEditModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cardEditModalLabel">編輯</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <label class="input-group-text">卡片名稱</label>
                            <input type="text" class="form-control" v-model="cards.list.edit.name">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn badge badge-topic" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn badge badge-blue" data-bs-dismiss="modal" @click="updateCard">儲存</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!--明細：編輯-->
        <div class="modal fade" data-bs-backdrop="static" id="detailEditModal" tabindex="-1" aria-labelledby="detailEditModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailEditModalLabel">編輯</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3 input-group">
                            <label class="input-group-text">卡片分類</label>
                            <select class="form-select" v-model="cards.item.edit.cardId">
                                <option v-for="card in cards.list.data" :value="card.Id">{{card.Name}}</option>
                            </select>
                        </div>
                        <div class="mb-3 input-group">
                            <label class="input-group-text">明細內容</label>
                            <input type="text" class="form-control" v-model="cards.item.edit.name">
                        </div>
                        <div class="mb-3 input-group">
                            <span class="input-group-text">日期</span>
                            <input type="date" class="form-control" v-model="cards.item.edit.day">
                            <span class="input-group-text">時間</span>
                            <input type="time" class="form-control" v-model="cards.item.edit.time">
                        </div>
                        <div class="mb-3 input-group">
                            <label class="input-group-text">消費金額</label>
                            <input type="text" class="form-control" v-model="cards.item.edit.count">
                            <label class="input-group-text">元</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <h3 class="mb-0"><button type="button" class="btn badge badge-topic" data-bs-dismiss="modal">關閉</button></h3>
                        <h3 class="mb-0"><button type="button" class="btn badge badge-blue" data-bs-dismiss="modal" @click="updateDetail(); getDetails(cards.item.card.Id);">儲存</button></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="node_modules/loaders.css/loaders.css.js"></script>

<script src="all.js"></script>
<script src="index.js"></script>

</body>
</html>